.CFUserTextEncoding
.DS_Store
.Desktop-YGrn
.GuitarPro
.MacOSX
.Trash
.Xauthority
.Xcode
.adobe
.anyconnect
.appletviewer
.bash_history
.bash_profile
.bash_profile.macports-saved_2011-12-28_at_01:08:53
.bashrc
.bashrc~
.cache
.cduf
.codeintel
.comsol
.config
.cups
.cvspass
.dropbox
.dvdcss
.eclim
.eclipse
.eclipse_keyring
.emacs
.emacs.d
.emacs~
.eshell
.felix
.filezilla
.fontconfig
.fonts
.gconf
.gem
.gimp-2.6
.git
.gitconfig
.gitignore_global
.gitk
.gnome2
.gvimrc
.idlerc
.inkscape-etc
.install4j
.irb-history
.irb_history
.k3d
.lesshst
.local
.m2
.macports
.matlab
.matplotlib
.multiseqrc
.node-gyp
.npm
.pip
.povray
.profile
.putty
.rbenv
.rdebug
.rdebug_hist
.rdebugrc
.rdoc
.ri
.rvm
.serverauth.10101
.serverauth.1417
.serverauth.1705
.serverauth.1942
.serverauth.29328
.serverauth.3217
.serverauth.334
.serverauth.33487
.serverauth.35785
.serverauth.361
.serverauth.392
.serverauth.401
.serverauth.43200
.serverauth.4649
.serverauth.48350
.serverauth.4961
.serverauth.5684
.serverauth.6056
.serverauth.62144
.serverauth.6251
.serverauth.669
.serverauth.7073
.serverauth.7147
.serverauth.847
.serverauth.87868
.serverauth.95118
.sh_history
.spumux
.sqlite_history
.ssh
.subversion
.subversion_IDEA
.swk
.swl
.swm
.swn
.swo
.swp
.thumbnails
.tkcon_history
.tor
.viminfo
.vimrc~
.wapi
.wireshark
.wireshark-etc
.x-formation
.zlogin
.zshrc
Applications
Books
Calibre Library
Desktop
Desktop Backgrounds
Documents
Downloads
Dropbox
Google Drive
Library
MATLAB_R2009b.app
Mail
Movies
Music
MyLibraries
Pictures
Public
Sites
TV shows
Torrents
doc
proj4cs162
